body{
    overflow-x: hidden;
}

.login-container {
    max-width: 400px;
    margin: auto;
}

.login-form {
    background-color: #495057;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.navbar-expand{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.margine-left{
    margin-left: auto;
}

.alert{
    width: 300px;
    position: absolute;
    right: -300px;
    transition: right 2s;
}

.alert-show{
    right: 0;
}