.card{
    border-radius: 10px;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

